.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  gap: 1em;
}

.Tittle {
  font-size: 3.4em;
}

.LengthControl--Div {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.LenghtButtons--Div {
    display: flex;
    justify-content: center;
}

.ButtonTitle {
  font-size: 2em;
}

i {
  font-size: 2em;
}

button {
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    padding: 0 0.5em;
}

.LengthViewer {
    font-size: 2em;
}

.Timer--Div{
    background: url("assets/tomato.svg") no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 1em;
    width: 13vh;
    height: 13vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.212);
    text-shadow: 1px 2px 2px black;
    color: aliceblue;
    
    filter: var(--drop-shadow);
    -webkit-filter: var(--drop-shadow);
    -moz-filter: var(--drop-shadow);
    -ms-filter: var(--drop-shadow);
    -o-filter: var(--drop-shadow);
}

.TimerState {
    font-size: 1.3em;
    font-weight: bold;
}

.TimeLeft {
    font-size: 3em;
}