:root{
  --text-color: #fff;
  --background-color: #bd4d40; 
  --drop-shadow: drop-shadow(1px 1px 4px rgba(34, 5, 5, 0.75));
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  text-align: center;
}

